@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.129 0.042 264.695);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.129 0.042 264.695);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.129 0.042 264.695);
  --color-primary: oklch(0.208 0.042 265.755);
  --color-primary-foreground: oklch(0.984 0.003 247.858);
  --color-secondary: oklch(0.968 0.007 247.896);
  --color-secondary-foreground: oklch(0.208 0.042 265.755);
  --color-muted: oklch(0.968 0.007 247.896);
  --color-muted-foreground: oklch(0.554 0.046 257.417);
  --color-accent: oklch(0.968 0.007 247.896);
  --color-accent-foreground: oklch(0.208 0.042 265.755);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.929 0.013 255.508);
  --color-input: oklch(0.929 0.013 255.508);
  --color-ring: oklch(0.704 0.04 256.788);
  --radius: 0.625rem;
}

.dark {
  --color-background: oklch(0.129 0.042 264.695);
  --color-foreground: oklch(0.984 0.003 247.858);
  --color-card: oklch(0.208 0.042 265.755);
  --color-card-foreground: oklch(0.984 0.003 247.858);
  --color-popover: oklch(0.208 0.042 265.755);
  --color-popover-foreground: oklch(0.984 0.003 247.858);
  --color-primary: oklch(0.929 0.013 255.508);
  --color-primary-foreground: oklch(0.208 0.042 265.755);
  --color-secondary: oklch(0.279 0.041 260.031);
  --color-secondary-foreground: oklch(0.984 0.003 247.858);
  --color-muted: oklch(0.279 0.041 260.031);
  --color-muted-foreground: oklch(0.704 0.04 256.788);
  --color-accent: oklch(0.279 0.041 260.031);
  --color-accent-foreground: oklch(0.984 0.003 247.858);
  --color-destructive: oklch(0.396 0.141 25.723);
  --color-border: oklch(1 0 0 / 10%);
  --color-input: oklch(1 0 0 / 15%);
  --color-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility wrapper {
  @apply max-w-7xl lg:mx-auto p-5 md:px-10 w-full;
}

@utility flex-start {
  @apply flex items-center justify-start;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility h1-bold {
  @apply text-3xl font-bold lg:text-4xl;
}

@utility h2-bold {
  @apply text-2xl font-bold lg:text-3xl;
}

@utility h3-bold {
  @apply text-xl font-bold lg:text-2xl;
}
